body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../Menu/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#h1{
    font-size: 4rem;
    font-family: Arial, sans-serif;
    color: blue;
    
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 50px;
   
    border-radius: 50px;
    backdrop-filter: blur(5px);
    background-color: rgba(211, 211, 211, 0.2);
    
}

@font-face {
    font-family: 'digital';
    src: url('../Fonts/digital-7\ \(mono\ italic\).ttf') format('truetype'); 
}

#display{
    font-size: 8rem;
    font-family: 'digital';
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-family:fantasy;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
    padding: 10px 20px;
    margin: 10px;
   
    min-width: 125px;
    
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: rgb(1, 207, 1);
}
#startBtn:hover{
    background-color: rgb(1, 134, 23)
}

#stopBtn{
    background-color: rgb(207, 1, 1);
}
#stopBtn:hover{
    background-color: rgb(153, 0, 0);
}

#resetBtn{
    background-color: rgb(1, 114, 207);
}
#resetBtn:hover{
    background-color: rgb(0, 69, 158);
}



#open{
    background: transparent;
    border: 1px solid white; 
    border-radius: 10px;
    color: white; 
    padding: 10px 20px; 
    font-size: 1.5rem; 
    cursor: pointer;
    width: 70px;
    transition: all 0.5s ease; 
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(211, 211, 211, 0.2);
}
#open:hover {
    transform: scale(1.1); 
    background-color: rgba(146, 146, 146, 0.2);
   
}


.icon-bar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 0px;
    background: transparent;
    background-color: rgba(211, 211, 211, 0.2);
    border: none; 
    overflow: hidden;
    transition: 0.5s ease;
}
  
.icon-bar a {
    display: block; 
    text-align: center;
    width: 69px;
    height: 80px; 
    padding: 10px; 
    color: rgb(255, 255, 255); 
    font-size: 12px; 
    text-decoration: none;
    font-family: Arial;
    border: 0.5px solid white; 
    transition: all 0.5s ease; 
}

  
.icon-bar a:hover {
    background-color: #00000062; 
    transform: scale(1.03);
    
}
  
.active {
    background-color: #29292980; 
}